@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body {
	font-family: 'GmarketSansMedium';
	text-underline-position: under;
}


/* 라이브러리 */
.con {
	width: 1600px;
	/* height: 115px; */
}

img {
	display: block;
	max-width: 100%;
}

.flex-grid {
	display:flex;
	flex-wrap:wrap;
	--y-gap:0px;
	--x-gap:0px;
	--cc:5;
	gap:var(--y-gap) var(--x-gap);
}

.flex-grid > * {
	width:calc(100% / var(--cc) - (var(--x-gap) * (var(--cc) - 1)) / var(--cc));
}

.con-min-width {
	min-width: var(--site-width);
}

.con {
	width: var(--site-width);
}

/* 탑바 구현 시작 */
.pc-top-bar {
	width: 100%;
	background-color: black;
	height: 80px;
}

#logo-box {
	width: 110px;
	margin-left: 10px;
}

#icon-box {
	height: 100%;
}

#icon {
	display: flex;
	justify-content: end;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 2rem;
}

#icon>a {
	align-content: center;
	height: 100%;
	padding: 0 15px;
}

/* 메뉴바 구현 시작 */
#menu-box1 {
	height: 35px;
}

#menu1 li a {
	font-weight: bold;
	color: white;
	opacity: 0.5;
}

#menu1 li:hover>a,
#menu1 li a.active {
	opacity: 1;
}

/* 페이드인 페이드아웃 이미지 구현 시작 */
.secion-slider > .con {
	width: 1600px;
	height: 600px;
}

.slider-box-1 {
	height: 600px;
	position: relative;
}

.slider-box-1 > .slides > .slide-item {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1.5s;
}

.slider-box-1 > .slides > .slide-item {
	height: 100%;	
}

.slider-box-1 > .slides > .slide-item > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-box-1[data-index="0"] > .slides > .slide-item:nth-child(1) {
	opacity: 1;
}

.slider-box-1[data-index="1"] > .slides > .slide-item:nth-child(2) {
	opacity: 1;
}

.slider-box-1[data-index="2"] > .slides > .slide-item:nth-child(3) {
	opacity: 1;
}

.slider-box-1[data-index="3"] > .slides > .slide-item:nth-child(4) {
	opacity: 1;
}

.slider-box-1[data-index="4"] > .slides > .slide-item:nth-child(5) {
	opacity: 1;
}
/* 페이드인 페이드아웃 이미지 구현 시작 */

/* 배너 상품이미지 1 구현 시작 */
:root {
	--site-width: 1200px;
}

.section-prod-list {
	margin-top: 20px;
}

.prod-menu > .title {
	position: relative;
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.prod-menu > .title > a {
	display: block;
	text-align: right;
	position: absolute;
	top: 50%;
	right: 0;
	opacity: 0.5;
}

.prod-menu > .title > a:hover {
	text-decoration: underline;
	opacity: 1;
}

.prod-menu > .flex-grid {
	--cc: 3;
	--y-gap: 20px;
	--x-gap: 20px;
}

.prod-menu > ul > li > :nth-child(1) {	
	overflow: hidden;	
	position: relative;
}

.prod-menu > ul > li > a:nth-child(1) > img {
	transition: transform 0.3s;
}

.prod-menu > ul > li:hover > a:nth-child(1) > img {
	transform: scale(1.5);
}

.prod-menu > ul > li > a:nth-child(1)::before {
	content: "VIEW";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	border: 3px solid;
	padding: 10px 15px 7px 15px;
	border-radius: 10px;
	opacity: 0;
	transition: opacity .3s;
	z-index: 1;
}

.prod-menu > ul > li:hover > a:nth-child(1)::before {	
	opacity: 1;
}

.prod-menu > ul > li > a:nth-child(1)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity .3s;
}

.prod-menu > ul > li:hover > a:nth-child(1)::after {	
	opacity: 1;
}

.prod-menu > ul > li > a:nth-child(2) {
	margin: 7px 0;
}

.prod-menu > ul > li > div:last-child {
	text-align: center;	
}
/* 배너 상품이미지 1 구현 끝 */

/* 바텀바 구현 시작 */
footer > .con {
	color: #999;
}

.bottom-menu ul li {
	margin: 15px 0;
}

.bottom-menu ul li > a {
	margin: 10px 0;
}

.submenu {
    display: none;
}

.copyright {
	margin-top: 20px;
}

.copyright > div {
	margin: 15px 0;
}

.btn-icon > a {
	font-size: 30px;
	margin-right: 15px;
}
/* 바텀바 구현 끝 */