@charset "UTF-8";
.order_form-headline{
    background-color: #f5f5f5;
    color: black;
    font: 16px;
}
#sheet-purchase-button{
    background-color: ;
    font: ;
    text-align: center;
}
.sheet-purchase-button-box{
    display: block;
    background-color: #f5f5f5;
}