
body{
    background-color:whitesmoke;
}

.container {
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    margin: auto; /* 중앙 정렬 */
    padding: 0 300px; /* 왼쪽과 오른쪽에 100px 패딩 추가 */
}


.orderlist {
    margin: 20px 0;
}

table {
    width: 100%; /* 테이블 너비를 100%로 설정 */
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}


th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ccc;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-image {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}

.product-details {
    font-size: 16px;
}

.quantity {
    width: 60px; /* 드롭다운 너비 설정 */
}
