.btn-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	border-radius: 8px;
	background-color: black;
	color: white;
	width: 100px;
	height: 30px;
	margin: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
	transition: opacity .3s;
}

a:hover {
	opacity: .5;
}