@charset "UTF-8";
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    !important;
}


html>body {
	font-family: 'GmarketSansMedium';
	text-underline-position: under;
}

body{
    width: 1400px;
    font-size: 16px;
    line-height: inherit;
    margin: auto;
}
.contents{
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
}
html, body{
    height: 100%;
}
.double-section{
    display: flex;
}
.double-section-left{
    flex: 0 0 800px;
    min-width: 0;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
}
.double-section-right{
    flex: 0 0 460px;
    min-width: 0;
    top: 24px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
}
/* ------주문서------ */
.order_form-headline{
    background-color: #f5f5f5;
    color: black;
    display: flex;
    align-items: center;
    height: 52px;
    padding: 12px 16px;
    box-sizing: border-box;
}
.order_form-headline-text{
    font-size: 20px;
    flex: 0 1 auto;
    display: block;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button-back-page{
    border: none;
 }
button{
    background-color: transparent;
    background-image: none;
}
#sheet-purchase-button{
    background-color: black;
    color: white;
    font: 16px ;
    text-align: center;
}
.sheet-purchase-button-box{
    display: block;
    background-color: #f5f5f5;
}
/* ------주문서------ */

/* ------배송지------ */
.sheet-address{
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
}
.sheet-address-address{
    padding: 4px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    display: block;
}
.sheet-address-title{
    align-items: center;
    padding: 12px 0;
    display: flex;
    position: relative;
}
.sheet-address-title-button{
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    color: black;
    border-radius: 4px;
    margin-left: auto;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}
.sheet-address-number{
    padding: 4px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    margin-bottom: 10px;
}
.sheet-message-text{
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 60%;
    text-align: left;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 10px
    margin-top: 9px;
    margin-bottom: 6px;
    display: flex;
    cursor: pointer;
    background: url(./img/svg/down-arrow-svgrepo-com.png) no-repeat;
    background-position: 97% 50%;
}
.sheet-message-text.on{
    background: url(./img/svg/down-arrow-svgrepo-com.png) no-repeat;
    background-position: 97% 50%;
}
.sheet-message-text:hover,
.sheet-message-text:focus,
.sheet-message-text:active{
    outline: 1px solid #666;
}
.sheet-message-selectbox{
    box-sizing: border-box;
    width: 60%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 0px;
}
.sheet-message-selectbox{
    display: none;
}
.sheet-message-selectbox.on{
    display: block;
}
.sheet-message-selectbox li{
    width: 100%;
    margin-top: 10px;
    border: none;
    margin-bottom: 10px;
}
.sheet-message-option-btn{
    width: inherit;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-align: left;
    line-height: 16px;
    display: inline-block;
    font-size: 15px;
}
.sheet-message-option-btn.on{
    display: block;
    background-position: right;
}
.sheet-message-option-btn{
    width: inherit;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    padding: 7px 10px;
    text-align: left;
    line-height: 16px;
    display: inline-block;
}
.sheet-message-selectbox li:hover,
.sheet-message-selectbox li:focus,
.sheet-message-selectbox li:active{
    background-color: #eee;
    border-radius: 4px;
}
button{
    cursor: pointer;
}
/* ------배송지------ */

/* ------주문 상품------ */
#sheet-section-pay{
    position: sticky;
    top: 24px;
}
.sheet-section{
    background-color: white;
    width: 100%;
    padding-top: 25px;
    position: relative;
    overflow: hidden;
}
.sheet-title{
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    display: flex;
}
h2{
    margin: 0;
}
.sheet-title-address, .sheet-title-text, .sheet-title-count{
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
}
.sheet-order-product{
    margin-top: 4px;
}
.sheet-order-product-cartItem{
    margin: 0 16px;
    position: relative;
}
.sheet-order-product-box{
    gap: 0 12px;
    display: flex;
    margin-top: 8px;
}
.sheet-order-product-image{
    object-fit: contain;
    align-self: flex-start;
    width: 120px;
    height: 160px;
}
.sheet-order-product-brand{
    grid-area: brand;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.sheet-order-product-name{
    grid-area: name;
    margin-top: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}
.sheet-order-product-option{
    color: #666;
    grid-area: option;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
.sheet-order-product-price-origin{
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: line-through;
}
.sheet-order-product-price-sale{
    color: black;
    grid-area: final;
    font-size: 18px;
    font-weight: 600;
    line-height: 10px;
}
.sheet-order-product-coupon{
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 36px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
}
.sheet-address-title-label{
    background-color: #8A8A8A1A;
    color: #666;
    border-radius: 2px;
    margin-left: 4px;
    padding: 1px 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    overflow: hidden;
}
/* ------주문 상품------ */

/* ------보유 적립금 사용------  */
.sheet-title-bottomSheet{
   margin-left: 2px; 
   display: flex;
   position: relative;
   border: none;
}

.sheet-point-input-input-disabled{
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-color: #ebebeb;
    color: #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
}
:disabled{
    cursor: default;
}
input{
    vertical-align: middle;
}
.sheet-point-input{
    box-sizing: border-box;
    width: 100%;
    padding: 4px 16px 12px;
}
.sheet-point-input-text{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
}
.sheet-point-limit-input-text, .sheet-point-input-price, .sheet-point-input-own{
    display: inline-block;
    
}
/* ------보유 적립금 사용------  */

/* -------결제 수단------- */
.payment-method-type {
    box-sizing: border-box;
    cursor: pointer;
    grid-area: label;
    align-items: center;
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 8px 0 8px 24px;
    display: flex;
    position: relative;
}
input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
input[type='radio']:checked{
    background-color: white;
    border: 3px solid black;
    box-shadow: 0 0 0 1.6px black;
}
.payment-method-choice{
    margin-left: 4px;
    font-size: 17px;
}
.payment-method-logo-TOSSPAY, .payment-method-logo-KAKAOPAY, .payment-method-logo-PAYCO {
    height: 15px;
    width: 30px;
    object-fit: scale-down;
}
a, div{
    outline: none;
    margin: 0;
    padding: 0;
}
.payment-method-type-input{
    position: relative;
    clear: both;
    margin: 10px;
    padding: 0;
    list-style: none;
}
.payment-method-type-input [type="radio"]:checked{
    z-index: 1;
    display: block;
}
.paymentMethod-others{
    text-align: center;
    width: 100%;
}
.paymentMethod-others-list{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px 8px 40px;
    display: flex;
    list-style: none;
    margin: 1px;
}
.paymentMethod-others-list li{
    width: calc(50% - 2px);
    margin-top: 8px;
}
.paymentMethod-others-text{
    font-size: 15px;
}
#box-payment-method-type-CARD, #box-payment-method-type-VACCOUNT, #box-payment-method-type-PHONE, #box-payment-method-type-NAVERPAY{
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    display: flex;
    overflow: hidden;   
}
#button-payment-CARD, #button-payment-VACCOUNT, #button-payment-PHONE, #button-payment-NAVERPAY{
  border: none;  
  display: inline-block;
}
.list-payment li{
    position: relative;
    float: left;
}
.list-payment span{
    margin-top: 8px;
    text-align: center;
    line-height: 18px;
}
.list-payment label{
    float: left;
    width: 117px;
    height: 117px;
    padding: 18px 0 16px;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: pointer;
}
ul{
    list-style: none;
}


/* -------결제 수단------- */

/* ------결제 금액------ */
.sheet-purchase-button{
    box-sizing: border-box;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
}
.sheet-payment-price-subject-text{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.sheet-payment-price-subject-price{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.subject-payment-price-subject-price{
    color: blue;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.sheet-payment-price-total-text{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.subject-payment-price-totla-price{
    margin-left: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.sheet-payment-price{
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 12px;
}
.sheet-payment-price-box{
    padding: 4px 0;
}
.sheet-agreement{
    box-sizing: border-box;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    width: 100%;
    padding: 8px 16px 4px;
}
.sheet-agreement-text{
    color: #666;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    display: block;
}
/* ------결제 금액------ */

/* ------바텀바------ */
footer>.con {
	color: #999;
}

.bottom-menu ul li {
	margin: 15px 0;
}

.bottom-menu ul li>a {
	margin: 10px 0;
}

.submenu {
	display: none;
}

.copyright {
	margin-top: 20px;
}

.copyright>div {
	margin: 15px 0;
}

.btn-icon>a {
	font-size: 30px;
	margin-right: 15px;
}

/* ------바텀바------ */

/* ------ footer 버튼 ------ */
footer{
    position: fixed;
    background-color: #ebebeb;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
}
/* ------ footer 버튼 ------ */
